svg{
	background: rgb(241, 241, 241);
}

.country{
	fill: rgb(177, 177, 177);
	stroke-width: 0.1;
	stroke: rgb(241, 241, 241);
}

.mouseover > .city-circle{
	fill: white;
}

.selected > .city-circle{
	fill: yellow;
}

#hoveredCity{
	font-family: Arial;
	font-size: 20px;
}
