svg{
	background: rgb(241, 241, 241);
}

.country{
	fill: rgb(177, 177, 177);
	stroke-width: 0.1;
	stroke: rgb(241, 241, 241);
}

.city-label{
	font-family: Arial;
	font-size: 10px;
	visibility: hidden;
	fill: blue;
}


.mouseover > .city-label{
	visibility: visible;
}
