*{
	font-family: Arial;
}

#map{
	background: hsla(202, 70%, 80%, 1);
	border: solid 1px black;
}

.sphere {
	fill:hsla(202, 70%, 80%, 1);
}

.land {
	fill: hsla(74, 69%, 87%, 1);
}

.boundary {
	fill: none;
	stroke: hsla(57, 0%, 80%, 1);
	stroke-linejoin: round;
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
}

select{
	margin: 20px;
}

.mouseover.city-circle{
	stroke: grey;
	stroke-width: 0.5;
	r: 2;
}

.selected.city-circle{
	stroke: black;
	stroke-width: 1;
	r: 3;
}
